.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #747bff;
    border: 1px #f60000 solid;
    padding: 1em;
    margin-top: 1em;
}

.poolImageContainer {
    display: flex;
    flex-direction: row;
}

.assetImgContainer {
    display: inline-block;
    position: relative;
    width: 3em;
    height: 3em;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
}

.assetImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}