.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #151515;
    box-shadow: 0 0 0.8em rgba(128, 0, 128, 0.7);
    padding: 1em;
    margin-top: 1em;
}

.poolImageContainer {
    display: flex;
    flex-direction: row;
}

.assetImgContainer {
    display: inline-block;
    position: relative;
    width: 3em;
    height: 3em;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 1.2em #000000;
}

.assetImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}